# Bytecode and compiled files
target/

# Compiled class files
*.class

# IDE-specific files and directories (Eclipse, IntelliJ, NetBeans)
.idea/
.project
.classpath
.settings/
.metadata/
*.iml
*.ipr
*.iws
*.eml



# Other build and dependency management directories
bin/
build/
lib/
out/
.gradle/
build.gradle
gradle-wrapper.jar